header {
  width: 100%;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 1.5vw;
  .logo {
    width: 50%;
    display: flex;
    flex-wrap: nowrap;

    &__img {
      cursor: pointer;
      max-height: 55px;
      max-width: 55px;
      width: 20%;
      height: 5vw;
      //width: 5vw;
      //width: 30%;
      //height: 30%;
      //height: 1vw;

      img {
        //max-height: 55px;
        //max-width: 55px;
        height: 100%;
        //height: auto;
        //width: auto;
        width: 100%;
      }
    }

    &__text {
      cursor: pointer;
      margin-left: 5%;
      //line-height: 26px;
      line-height: 2.1vw;
      //font-size: 24px;
      font-size: 2vw;
      text-transform: uppercase;

      span {
        //font-size: 16px;
        font-size: 1.4vw;
      }
    }

  }
  .info {
    font-size: 1.2vw;
    background-color: #FE5F1E;
    //width: 12vw;
    width: 15%;
    border-radius: 50px;
    display: flex;
    flex-wrap: nowrap;
    //position: relative;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    //max-height: 55px;
    hr {
      width: 0.5%;
      border: none;
      background-color: white;
      height: 65%;
    }
    //%templCart {
    //  width: 50%;
    //}
    &__cart-price {
      padding-left: 10%;
      width: 49.5%;
      //background-color: #b9aeab;
    }
    &__cart-btn {
      width: 49.5%;
      position: relative;
      color: white;
      text-decoration: none;
      &:hover {
        opacity: .8;
      }
      img {
        position: absolute;
        top: 0;
        left: 10%;
        height: 100%;
        //width: 100%;
      }
      //background-color: #ded0cc;
    }
  }
}

@media (max-width: 767px) {
  header{
    .logo {
      width: 70%;
      &__text {
        margin: 0;
        font-size: 3vw;
        line-height: 3vw;
        span {
          font-size: 2vw;
        }
      }
    }
    .info{
      width: 25%;
      font-size: 1.8vw;
    }
  }
}
