.sorting {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  //justify-content: center;
  align-items: center;
  .categories {
    ul {
      display: flex;
    }
    li {
      cursor: pointer;
      list-style-type: none;
      font-size: 18px;
      background-color: #F9F9F9;
      margin-left: 2%;
      padding: 0.8vw;
      border-radius: 20px;
      &.active {
        background-color: black;
        color: white;
      }
    }
    li:first-child {
      margin: 0 0;
    }
  }
  .sort {
    cursor: pointer;
    margin-left: auto;
    position: relative;
    width: 24%;
      &::before {
        content: '';
        position: absolute;
        left: -20%;
        top: -5%;
        border: 8px solid transparent;
        border-bottom: 8px solid black;
      }
  }
}
