@import "../Components/cart-pizza-list";
@import "../Components/empty-cart";
.cart {
  width: 100%;

  &__wrap {
    margin: 0 auto;
    width: 60%;

    .info {
      cursor: default;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      border-bottom: #B6B6B6 1px solid;
      padding: 4vh 0;
      //font-size: 3vw;

      h2 {
        font-size: 32px;
        //font-size: 4vw;
        margin-left: 10%;
      }

      .cart__title {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
      }

      .cart__clear {
        cursor: pointer;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        opacity: .7;

        span {
          padding: 8px;
          color: #B6B6B6;
        }

        &:hover {
          opacity: 1;
        }
      }
    }

    .total {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 5%;
      font-size: 18px;

      &__count {

        span {
          font-weight: 700;
        }
      }

      &__price {

        span {
          color: #FE5F1E;
          font-weight: 700;
        }
      }
    }
    .btns {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      margin-top: 3%;
    }
  }
}
@media (max-width: 767px) {
  .cart {
    &__wrap {
      width: 100%;
     .info {
       padding: 2vh;
       font-size: 3vw;
       h2 {
         font-size: 4vw;
       }
     }
    }
    .total {
      font-size: 3.5vw;
    }
  }
}
