.popup {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  background: rgba(0, 0, 0, 0.1);

  .popupContent {
    margin-left: auto;
    margin-bottom: 15%;
    margin-right: 10%;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 30%;
    border-radius: 10%;
    padding: 10px;
    box-shadow: 2px 2px 2px 2px gray;
    .point {
      cursor: pointer;
      height: 10%;
      width: 100%;
      background-color: white;
      text-align: center;
      padding: 1vh;
      border-radius: 10px;

      &.active {
        background-color: #FFF7F4;
      }
    }
  }

  &.active {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 767px) {
  .popup {
    .popupContent {
      width: 50%;
      margin: 20% auto;
    }
  }
}
@media (max-width: 400px) {
  .popup {
    .popupContent {
      width: 80%;
      //margin: 20% auto;
    }
  }
}

