.myBtn {
  cursor: pointer;
  background-color: white;
  color: #9a9a9a;
  border: #9a9a9a 1px solid;
  border-radius: 50px;
  width: 25%;
  font-size: 1.2vw;
  //line-height: 50px;
  padding: 15px 0;
  &:hover {
    opacity: .8;
  }
}

@media (max-width: 767px) {
  .myBtn{
    width: 40%;
    font-size: 3vw;
    padding: 10px 0;
    //line-height: 5vw;
    //height: 10vw;
  }
}
