@import "SCSS/Components/header";
@import "SCSS/Components/sorting";
@import "SCSS/Components/pizzas-list";
@import "SCSS/Components/pizza-card";
@import "SCSS/Pages/cart-page";
.App {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2% auto;
  background-color: #ffff;
  border-radius: 20px;
  padding: 2.5vw;
}
.content {
  padding-top: 1.5vw;
  width: 100%;
}
