@import "./SCSS/Components/header";
@import "./SCSS/Pages/cart-page";
@import "./SCSS/Pages/home-page";

.App {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2% auto;
  background-color: #ffff;
  border-radius: 20px;
  padding: 2.5vw;
  //font-size: 1.5vw;
}
.content {
  padding-top: 1.5vw;
  width: 100%;
}
.btnWrap {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pagBtn {
  width: 100px;
  height: 30px;
  background-color: #000000;
  color: white;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s linear ;
}

.pagBtn:hover {
  opacity: .8;
}
