@import "./SCSS/Components/header";
@import "./SCSS/Pages/cart-page";
@import "./SCSS/Pages/home-page";

.App {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2% auto;
  background-color: #ffff;
  border-radius: 20px;
  padding: 2.5vw;
  //font-size: 1.5vw;
}
.content {
  padding-top: 1.5vw;
  width: 100%;
}
